@charset "utf-8";

.height {
	background: url(../img/bg.png) repeat scroll 0 0 transparent;
	float: left;
	width: 100%;
}

p {
	color: #222;
	font-size: 3em;
	font-weight: bold;
	margin: 240px 0 480px;
	text-align: center;
	text-shadow: 1px 1px #666;
	text-transform: capitalize;
}

.smooth-style {
	background-color: #000;
	color: #fff;
	display: none;
	float: left;
	font-size: 2em;
	font-weight: bold;
  filter: alpha(opacity=0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  opacity: 0.5;
  padding: 2% 0;
	text-align: center;
	width: 100%;
}

.smooth-style.slide-option {
	position: fixed;
	top: 0;
}

.smooth-style.slideOut-option {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 480px;
}

.smooth-style.slideHide-option {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 480px;
}

.smooth-style.fade-option {
	position: fixed;
	left: 0;
	top: 150px;
	width: 480px;
}

.smooth-style.fadeUp-option {
	position: fixed;
	right: 0;
	top: 150px;
	width: 480px;
}

.smooth-style.fadeHide-option {
	position: fixed;
	left: 0;
	top: 250px;
	width: 480px;
}

.smooth-style.showHide-option {
	position: fixed;
	right: 0;
	top: 250px;
	width: 480px;
}

.smooth-style.showUp-option {
	position: fixed;
	left: 0;
	top: 350px;
	width: 480px;
}

.smooth-style.showOut-option {
	position: fixed;
	right: 0;
	top: 350px;
	width: 480px;
}

