

.height {
	background: url(../img/bg.png) repeat scroll 0 0 transparent;
	float: left;
	height: 2000px;
	width: 100%;
}

p {
	color: #222;
	font-size: 3em;
	font-weight: bold;
	margin: 300px 0 600px;
	text-align: center;
	text-shadow: 1px 1px #666;
	text-transform: capitalize;
}

.smooth {
	background-color: #000;
	color: #fff;
	display: none;
	float: left;
	font-size: 2em;
	font-weight: bold;
  filter: alpha(opacity=0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  opacity: 0.5;
  padding: 20px;
	position: fixed;
	text-align: center;
	width: 100%;
}

.smooth.top {
	top: 0;
}

.smooth.btn {
	bottom: 0;
	right: 0;
	width: 200px;
}

.smooth.twt {
	right: 100px;
	bottom: 100px;
	width: 100px;
}
.smooth.twt a {
	color: #fff;
	text-decoration: none;
}





